.contractPanel {
  .failArea {
    background-color: #F4F2F2;
    padding: 100px;
    padding-bottom: 400px;

    .failTitle {
      padding-bottom: 50px; 
    }
  
    .failText {
      padding: 10px;

      .highlight {
        color: #a06a6a;
      }
    }
  }

  .topField {
    padding: 30px 50px 50px 50px;
    background-color: #F4F2F2;

    .contractText {
      margin-top: 30px;
      margin-bottom: 60px;
    }

    .test {
      // border:solid;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .imgBox {
      width: 350px;
      height: 350px;
      margin-bottom: 20px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;

      .contractImg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .contractInfo {
      .contractName {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 20px;
      }

      .contractDescription {
        color: gray;
        margin-bottom: 50px;
      }

      .contractCard {
        margin-bottom: 15px;
        .contractAddress {
          .addressTitle {
            background-color: white;
            font-weight: bold;
          }

          .addressText {
            color: gray;
          }
        }
      }

      .originalData {
        margin-top: 15px;
        font-size: 15px;
        color: gray;
      }
    }
  }

  .bottomField {
    padding: 50px 50px 100px 50px;
    margin-left: 40px;
    margin-right: 40px;

    .actionText {
      font-size: 30px;
      padding-bottom: 20px;
    }

    .etherscanLink {
      margin-top: 15px;
      font-size: 15px;
      color: gray;
    }
  }
}