// .searchStack{
//   height: 90vh;
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: center;
//   // align-items: center;

  
// }

.searchBoxClass.invalid {
  color: rgb(255, 93, 81);
}

.searchBoxClass:focus{
  box-shadow: 0 0 0 0.2rem #EDEDED;
}

.leftcontent{
  /* the left part of searchBox */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #EDEDED;
  color: black;
  height: 100%;

  p{
    font-size: 2rem;
    font-weight: 600;
  }

}

.divClass-search {
  /* the right part of searchBox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;

   /*input box*/
  .searchBoxClass {
    padding: 0;
    margin: 0.5rem;
    text-align: center;
    height: 3rem;
    border: 2px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
  }
}






.warnClass {
  color: rgb(255, 93, 81);
  display: flex;
  justify-content: center;
  font-size: 15px;
}

#btnSearch{
  border: none;
  background-color: black;
  color: white;
  border-radius: 6px;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  padding: 0.5rem 2rem ;
}

// .input-group:foucs{
//   box-shadow: none;
//   color: red;
//   background-color: red;

// }


.r1{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.c1{
  padding: 0;
  margin:0;
  padding: 0;
}