.tokenSearchClass {
    margin: 2rem 20rem;
    text-align: center;
    font-size: 20px;

    width: 50%;
    height: 50px;
    border: 1px solid #6C757D;
    border-radius: 5px;
    box-sizing: border-box;
}

@media(max-width:500px) {
    .tokenSearchClass{
        margin:2rem 4rem;
    }
    
}


.tokenSearchClass:focus{
    box-shadow: 0 0 0 0.2rem #EDEDED;
}

.tokenText {
    font-size: 25px;
}


.divClass {
    // padding: 30px 100px 30px 100px;
    background-color: #EDEDED;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;

}

.tokenInfo {
    color: rgb(62, 62, 62);
    padding: 20px;
    // margin: 20px;
    // border-radius: 10px;
    font-size: 15px;
    // width: 60%;
    
    .nameSection{
        // text-align: center;
        font-weight: 600;
        font-size: 2rem;
        color: black;
        // margin-left: 1rem;

    }
    .desSection{
        // text-align: center;
        color: gray;
        // margin-left: 1rem;
        font-size: 1.25rem;

    }
    // Card Info Section
    .cardsSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    
        .tokenCard{
            width:8rem;
            margin: 1rem 0rem;
            border:1px solid black;
            border-radius: 6px;
            .tokenBody{
             padding: 1rem 0rem;
            }
        }
        .cardTitle{
            text-align: center;
            font-size: 1rem;
            margin:0rem 0.5rem;
        }
        .cardText{
            text-align: center;
            font-size: 1rem;
        }
        .tokenHr{
            border: 1px solid black;
            border-top: none;
            opacity: 100%;
            
        }
    }
}

.leftTokenSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.tokenImg {
    width: 100%;
    padding: 10px;
    background-color: white;
}

.tokenImgAdapt {
    // max-width: 50%;
    // max-height: 50%;  
    width: 50px;  
    padding: 40px;
    margin: 40px;
}



.form-control:focus{
    border-color: black;
    border: 1.5px solid black;
}

.viewLink{
    text-decoration: none;
    font-size: 1rem;
}

// .scanLink{
//     margin-left: 1rem;
// }

.originalData {
    margin-top: 15px;
    font-size: 15px;
    color: gray;
}

.linkIcon{
    margin-left: 0.5rem;
    margin-bottom:0.5rem;
}


.imgBox {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .contractImg {
      max-width: 100%;
      max-height: 100%;
      margin-right: 30x;
    
    }

}

.tokenArea {
    padding: 30px 50px 50px 50px;

    .tokenTitle {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}
.carousel-inner>.item {
    width: 100%;

}

@media screen and (max-width:500px) {
    .carou{
        width: 100%!important;
    }
    .contractImg {
   
        margin-right: 40px;
      
      }
    
}

@media screen and (min-width:500px) {
    .carou{
        width: 50%!important;
        .contractImg {
   
            margin-right: 25px;
          
          }
    }
    
}

@media screen and (min-width:415px) and (max-width:447px){
    .carou{
        width:90%!important;

        .contractImg {
   
            // margin-right: 70px;
          
          }

        
       
    }
    
}

@media screen and (min-width:448px) and (max-width:513px){
    .carou{
        width:70%!important;

        .contractImg {
   
            margin-right: 90px;
          
          }

    }
    
}

@media screen and (min-width:514px) and (max-width:617px){
    .carou{
        width:70%!important;

        .contractImg {
   
            margin-right: 30px;
          
          }

    }
    
}

@media screen and (min-width:618px) and (max-width:989px){
    .carou{
        width: 80%!important;

        .contractImg {
   
            margin-right: 70px;
          
          }
    }
    
}
@media screen and (min-width:990px) and(max-width:1200px){
    .carou{
        width: 80%!important;
        // background-color: aqua;

        .contractImg {
   
            margin-right: 70px;
          
          }
        .imgBox{
            width: 120%;
        }
    }
    
}

// @media screen and (min-width:800px) and (min-width:100px){
//     .carou{
//         width: 30%!important;
//         .contractImg {
   
//             margin-right: 200px;
          
//           }
//     }
    
// }


