* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contractText {
  font-size: 1.5rem;
}

.divClass {
  padding: 1rem 2rem 1rem 0rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addrText {
  font-size: 25px;
  color: #E6E6E6;
  padding: 15px;
}

.blueText {
  color: #68b9ff;
}

.contractpanel {
  margin: 3rem;
  font-size: 1.5rem;
}

.contractpanel p {
  font-size: 1rem;
  margin-top: 1rem;
  color: gray;
}

.btnPanel {
  background-color: #687184;
  border: none;
  border-radius: 5px;
}

.panelTitle {
  padding: 0.75rem 0rem;
  font-size: 2rem;
  font-weight: 400;
}

.customAccordition .accordion-button {
  padding: 0.5rem 1.25rem;
}

.customAccordition .accordion-button:not(.collapsed) {
  color: black;
  background-color: #E6E6E6;
}

.customAccordition .accordion-button::after {
  background-image: url(../triangle.png);
}

.customAccordition .accordion-button:not(.collapsed)::after {
  background-image: url(../triangle.png);
}

.customAccordition .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contractunit .btnClick {
  background-color: #6C757D;
  color: white;
  border: none;
}

.Accordion {
  border-radius: 0;
}

.Accordion .accordionItem {
  border: 1px solid #6C757D;
}

.Accordion .accordionItemNext {
  border: 1px solid #6C757D;
  border-top: none;
}

.contractInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  margin-top: 3rem;
}

.contractInfo .contractTitle {
  text-align: center;
  font-weight: 400;
  color: gray;
}

.contractInfo .contractText {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0rem 0.5rem;
}

.contractAddress {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.contractAddress .tokenHr {
  border: 1px solid black;
  border-top: none;
  opacity: 100%;
}

.contractAddress .tokenBody {
  padding: 1rem 0rem;
}

.alert-danger {
  border: none;
  padding: 0.25rem 1rem;
  font-size: 1rem;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 .1rem black;
          box-shadow: 0 0 0 .1rem black;
}

.navClass {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F8F9FA;
  color: #000000;
}

.navClass h2 {
  font-size: 2rem;
}

.navClass #titleText:hover {
  color: #89a8bb;
}

.navClass button {
  font-size: 1rem;
  margin: 0rem 2rem;
  color: #858484;
  border: 1px solid #858484;
  border-radius: 10px;
}

.navClass button:hover {
  color: white;
  background-color: #858484;
}

.navClass div.chainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 1rem;
}

.navClass div.chainBlock span.addressText {
  color: lightblue;
  font-size: 1rem;
}

.chainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
}

.searchStack {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90vh;
}

.searchBoxClass.invalid {
  color: #ff5d51;
}

.searchBoxClass:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #EDEDED;
          box-shadow: 0 0 0 0.2rem #EDEDED;
}

.leftcontent {
  /* the right part of searchBox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EDEDED;
  color: black;
  height: 100%;
  width: 50%;
}

.leftcontent p {
  font-size: 3rem;
}

.divClass-search {
  /* the right part of searchBox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 50%;
  height: 100%;
}

.divClass-search .searchBoxClass {
  /*input box*/
  padding: 0;
  margin: 0.5rem;
  text-align: center;
  height: 3rem;
  border: 2px solid gray;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.warnClass {
  color: #ff5d51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

#btnSearch {
  border: none;
  background-color: black;
  color: white;
  border-radius: 6px;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
}

.tokenSearchClass {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #6C757D;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tokenSearchClass:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #EDEDED;
          box-shadow: 0 0 0 0.2rem #EDEDED;
}

.tokenText {
  font-size: 25px;
}

.divClass {
  text-align: left;
  padding: 30px 100px 30px 60px;
  background-color: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tokenInfo {
  color: #3e3e3e;
  padding: 20px;
  font-size: 15px;
}

.tokenInfo .nameSection {
  font-weight: 600;
  font-size: 2rem;
  color: black;
  margin-left: 1rem;
}

.tokenInfo .desSection {
  color: gray;
  margin-left: 1rem;
  font-size: 1.25rem;
}

.leftTokenSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tokenImg {
  width: 100%;
  padding: 10px;
  background-color: white;
}

.tokenImgAdapt {
  width: 50px;
  padding: 40px;
  margin: 40px;
}

.cardsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardsSection .tokenCard {
  padding: 0rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 6px;
  margin-left: 1rem;
  margin-right: 2rem;
}

.cardsSection .tokenCard .tokenBody {
  padding: 1rem 0rem;
}

.cardsSection .cardTitle {
  text-align: center;
  font-size: 1rem;
  margin: 0rem 0.5rem;
}

.cardsSection .cardText {
  text-align: center;
  font-size: 1rem;
}

.cardsSection .tokenHr {
  border: 1px solid black;
  border-top: none;
  opacity: 100%;
}

.form-control:focus {
  border-color: black;
  border: 1.5px solid black;
}

.viewLink {
  text-decoration: none;
  font-size: 1rem;
}

.scanLink {
  margin-left: 1rem;
}

.linkIcon {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */