.contractText {
    font-size: 25px;
}

.divClass {
    text-align: left;
    padding: 30px 100px 30px 60px;
}

.addrText {
    font-size: 25px;
    color: gray;
    padding: 15px;
}

.contractInfo {
    background-color: rgb(24, 37, 43);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 15px;
}

.blueText {
    color:rgb(104, 185, 255);
}